body{
    background-color: black;
    color: white;
}
.org{
    color: #E6533C;
}
#bck{
    background-color: #E6533C;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 50px;
}
.gray{
    background-color: rgb(102, 98, 98);
}
.display-flex{
    display: flex;
}
.title{
    font-size: 3rem;
}
.sec-title{
    font-size: 1.5rem;
}
.text-col{
    color: rgb(62, 62, 62)
}
/* navbar style */
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
#font {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;

}
#linear{
    height: 100vh; 
    background: linear-gradient(to right, black, gray, black);
}
#big{
    font-size: 5rem;
}
.brand{
    font-weight: 800;
    font-size: 2rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 50px;
    margin-top: 10px;
}
.nav-link{
    text-decoration: none;
    color: white;
}
.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}
#bor{
    padding: 5px 20px;
    border-radius: 50px ;
    border: 2px solid white;
    
}
#img{
    width:349px ;
    height: 580px;
    width: 100%;
    
}
#experence-badge{
    padding: 10px 150px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 0;
    margin-bottom: -1000000px;
    border-radius: 50px;
}
.bck #experience-year{
    font-size: 2rem;
    font-weight: 400;
    color: white;
    background-color: ;
}
/* 2nd part */
.middle{
    text-align: center;
}
.banner{
    max-width: 560px;
    margin: 0 auto;
    justify-content: center;
}
.mid{
    justify-content: space-between;
    text-decoration: none;
}
/* 3rd part */
#run{
    height: 312px;
    width: 366px;
}
.len{
    width: 1060px;
    height: auto;
    margin-left: 200px;
}
#circle{
    border-radius: 50%;
    justify-content: space-between;
}
.gap{
    gap: 50px;
}
/* BMI */
.select-2{
    grid-column: span 2;
}

/* mEETTTTTTTTTTT */
.wid1{
    margin: 50px 50px;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
}


/* FFFFFOOTERRRRRRR */
.fit{
    justify-content: center;
    font-weight: 800;
    font-size: 4rem;
}
/* Responsive media quary */
@media screen and (max-width: 576px){
    .navbar, .nav-links, .mid{
        flex-direction: column;
    }
}